@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
body {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400; /* Regular */
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

li {
	list-style: none;
}

/* スムーススクロールの設定 */
html {
	scroll-behavior: smooth;
}

/* 部品
------------------------------------------ */
.container {
	width: 91.7949vw;
    max-width: 73.5rem;
	margin: auto;
}

/* セクションタイトル */
.section-title {
    text-align: center;
}

.section-title--en {
    font-size: 1rem;
    color: #168352;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; /* SemiBold */
    margin-bottom: 0.125rem;
}

@media (min-width: 768px) {
    .section-title--en {
        font-size: 1.25rem;
        margin-bottom: 0.4375rem;
    }
}

.section-title--ja {
    font-size: 1.25rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .section-title--ja {
        font-size: 1.75rem;
    }
}

/* ヘッダー
------------------------------------------ */
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
	height: 3.9375rem;
}

@media (min-width: 768px) {
    .header {
        height: 7.125rem;
    }
}

.header__inner {
	display: flex;
	justify-content: space-between;
    align-items: center;
    height: 100%;
}

@media (min-width: 768px) {
    .header__inner {
        padding-left: 0.3125rem;
    }
}

.header__logo {
    width: 12.3125rem;
    line-height: 0;
}

@media (min-width: 768px) {
    .header__logo {
        width: 16.4375rem;
    }
}

/* ハンバーガーボタン */
.header__hamburger-btn {
    width: 1.5rem;
    padding-bottom: 0.25rem;
}

@media (min-width: 768px) {
	.header__hamburger-btn {
		display: none;
	}
}

/* ヘッダーメニュー */
@media (max-width: 767px) {
	.header__nav {
		position: fixed;
		top: 3.9375rem;
        width: 91.7949vw;
        background-color: #168352;
        border-radius: 1.5rem;
        transition: all .6s;
        opacity: 0;
        visibility: hidden;
	}

    /* アクティブ状態 */
    .header__nav--active {
        opacity: 1;
        visibility: visible;
    }

	.header__nav-list {
		display: flex;
		flex-direction: column;
		gap: 1.9375rem;
		margin-top: 2.125rem;
		margin-bottom: 2.1875rem;
		align-items: center;
	}

	.header__nav-item a {
		font-size: 1.125rem;
        font-weight: bold;
        color: #fff;
	}

    .header__nav-item:first-child {
        padding-right: 0.375rem;
    }

    .header__nav-item:nth-child(2) {
        letter-spacing: 0.025rem;
        padding-left: 0.25rem;
    }
}

@media (min-width: 768px) {
    .header__nav-list {
        display: flex;
        gap: 2.375rem;
        padding-right: 0.25rem;
    }

    .header__nav-item:first-child {
        display: none;
    }

    .header__nav-item a {
        font-size: 1rem;
        font-weight: bold;
        color: #000;
    }
}

/* 持続可能な農業を目指す
------------------------------------------ */
.aim {
    margin-top: 0.75rem;
}

@media (min-width: 768px) {
    .aim {
        margin-top: 2.6875rem;
    }
}

.aim__inner {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .aim__inner {
        max-width: 73rem;
    }
}

.aim__body {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6875rem;
}

@media (min-width: 768px) {
    .aim__body {
        flex-direction: row;
        gap: 3.81818%;
        max-width: 68.75rem;
        margin: auto;
        margin-bottom: 3.6875rem;
    }
}

.aim__title {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
    .aim__title {
        font-size: clamp(1.92rem, 4vw, 2.5rem);
        flex: 1;
    }
}

.aim__text {
    font-size: 0.9375rem;
    line-height: 1.7333;
    letter-spacing: 0.005rem;
}

@media (min-width: 768px) {
    .aim__text {
        flex: 1;
        padding-top: 0.3125rem;
        letter-spacing: 0;
    }
}

.aim__img {
    width: 100%;
}

/* 私たちについて
------------------------------------------ */
.about {
    margin-top: 3.25rem;
}

@media (min-width: 768px) {
    .about {
        margin-top: 3.6875rem;
    }
}

.about__content {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 1.3125rem;
}

@media (min-width: 768px) {
    .about__content {
        position: static;
        display: flex;
        gap: clamp(4.2169rem, 8.7857vw, 7.6875rem);
        max-width: 63.75rem;
        margin: auto;
        padding-top: 1.625rem;
        padding-right: clamp(1.375rem, 2.857vw, 2.5rem);
        padding-bottom: 4rem;
    }
}

.about__text-wrapper {
    position: relative;
    background-color: rgba(255, 255, 255, .8);
    z-index: 100;
    padding: .9375rem 1.5rem 1.0625rem;
    border-radius: 2rem;
    letter-spacing: .0063rem;
}

@media (min-width: 768px) {
    .about__text-wrapper {
        flex: 1;
        padding-top: 0.875rem;
    }
}

.about__text {
    font-size: 0.9375rem;
    line-height: 1.746667;
}

@media (min-width: 768px) {
    .about__text {
        line-height: 1.746667;
        letter-spacing: .0094rem;
    }
}

.about__text--emphasis {
    font-size: 1.125rem;
    font-weight: bold;
    display: block;
    margin-bottom: 0.625rem;
    line-height: 1.7222;
}

@media (min-width: 768px) {
    .about__text--emphasis {
        font-size: 1.25rem;
        margin-bottom: 1.5625rem;
        line-height: 2.1875rem;
    }
}

.about__separator {
    display: block;
}

@media (min-width: 768px) {
    .about__separator:first-child {
        padding-right: 2.5rem;
    }
}

.about__image {
    position: absolute;
    inset: 0;
    z-index: 1;
}

@media (min-width: 768px) {
    .about__image {
        position: static;
        width: 24.375rem;
        height: 35.625rem;
        border-radius: 2.5rem;
        overflow: hidden;
    }
}

.about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 私たちが選ばれる3つの理由
------------------------------------------ */
.features {
    background-color: #f3f9f6;
    padding-top: 3.25rem;
    padding-bottom: 3.5rem;
}

@media (min-width: 768px) {
    .features {
        padding-top: 3.6875rem;
        padding-bottom: 4rem;
    }
}

.features__content {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

@media (min-width: 768px) {
    .features__content {
        margin-top: 1.625rem;
        flex-direction: row;
        gap: 1.875rem;
        max-width: 73rem;
    }
}

.features__item {
    background-color: #fff;
    border-radius: 1.5rem;
    box-shadow: 0 .5rem .5rem 0 rgba(0, 0, 0, .1);
    overflow: hidden;
}

@media (min-width: 768px) {
    .features__item {
        flex: 1;
    }
}

.features__img {
    width: 100%;
    height: 12.5625rem;
    object-fit: cover;
}

@media (min-width: 768px) {
    .features__img {
        height: 14.125rem;
    }
}

.features__description {
    font-size: 1.125rem;
    font-weight: bold;
    padding: 0.875rem 1rem;
    line-height: 1.66667;
}

@media (min-width: 768px) {
    .features__description {
        padding-left: 1.25rem;
        line-height: 2rem;
        letter-spacing: 0.0688rem;
    }
}

/* 製品・サービス紹介
------------------------------------------ */
.service {
    margin-top: 3.375rem;
    margin-bottom: 3.5rem;
}

@media (min-width: 768px) {
    .service {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}

.service__content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1.3125rem;
}

@media (min-width: 1100px) {
    .service__content {
        max-width: 68.75rem;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 2.4375rem;
        column-gap: 3.125rem;
        margin-top: 1.75rem;
    }
}

.service__item {
    display: flex;
    gap: 4.6154vw;
    justify-content: flex-start;
    align-items: center;
    background-color: #168352;
    border-radius: 1.5rem;
    padding-top: 1.25rem;
    padding-right: 2.3125rem;
    padding-bottom: 1.25rem;
    padding-left: 6.153846vw;
}

.service__item--drone {
    gap: 4.359vw;
    padding-right: 3.375rem;
    padding-left: 6.3816vw;
}

.service__item--harvest {
    padding-right: 4.375rem;
}

.service__item--grow {
    gap: 4.61538vw;
}

.service__item--planter {
    padding-right: 1.25rem;
    gap: 4.35897vw;
}

@media (min-width: 1100px) {
    .service__item {
        width: calc((100% - 6.25rem) / 3);
        padding-left: 1.5rem;
        padding-right: 1.4375rem;
        gap: 1.25rem;
    }

    .service__item--drone,
    .service__item--harvest {
        width: calc((100% - 3.125rem) / 2);
        padding-left: 1.875rem;
        padding-right: 7.0625rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        gap: 1.875rem;
    }
}

.service__img {
    min-width: 6.25rem;
    min-height: 6.25rem;
}

@media (min-width: 1100px) {
    .service__img {
        min-width: 6.875rem;
        min-height: 6.875rem;
    }

    .service__img--drone,
    .service__img--harvest {
        min-width: 8.3125rem;
        min-height: 8.3125rem;
    }
}

.service__caption {
    font-size: 1.125rem;
    font-weight: bold;
    color: #fff;
    line-height: 1.77778;
}

.service__caption--drone {
    padding-bottom: 0.125rem;
}

.service__caption--harvest {
    padding-bottom: 0.0625rem;
}

.service__caption--farm {
    padding-bottom: 0.3125rem;
}

.service__caption--planter {
    padding-bottom: 0.125rem;
}

@media (min-width: 1100px) {
    .service__caption {
        font-size: 1.25rem;
    }

    .service__caption--drone,
    .service__caption--harvest {
        font-size: 1.5rem;
    }
}

.service__caption-line {
    display: block;
}

@media (min-width: 1100px) {
    .service__caption-line {
        display: inline;
    }
}

/* お客様の事例紹介
------------------------------------------ */
.case {
    background-color: #f3f9f6;
    padding-top: 3.1875rem;
    padding-bottom: 3.0625rem;
}

@media (min-width: 768px) {
    .case {
        padding-top: 3.625rem;
        padding-bottom: 3.625rem;
    }
}

.case__content {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    margin-top: 1.3125rem;
}

@media (min-width: 768px) {
    .case__content {
        flex-direction: row;
        max-width: 73rem;
        margin-top: 1.75rem;
    }

    .case__item {
        flex: 1;
    }
}

.case__img {
    width: 100%;
    height: 12.5625rem;
    object-fit: cover;
    border-radius: 1.5rem;
}

@media (min-width: 768px) {
    .case__img {
        height: 14.125rem;
    }
}

.case__result {
    font-size: 1.125rem;
    font-weight: bold;
    color: #09947b;
    margin-top: 0.5625rem;
    margin-left: 0.125rem;
    line-height: 1.6111;
}

@media (min-width: 768px) {
    .case__result {
        font-size: 1.1875rem;
    }
}

.case__item:last-child .case__result {
    line-height: 1.7222;
}


/* お知らせ
------------------------------------------ */
.news {
    margin-top: 3.25rem;
    margin-bottom: 3.75rem;
}

@media (min-width: 768px) {
    .news {
        margin-top: 3.75rem;
        margin-bottom: 4.3125rem;
    }
}

.news__content {
    margin-top: 1.3125rem;
    border-top: 0.0625rem solid #ddd;
}

@media (min-width: 768px) {
    .news__content {
        max-width: 56.25rem;
        margin: auto;
        margin-top: 1.625rem;
    }
}

.news__item {
    display: flex;
    flex-direction: column;
    gap: 0.5625rem;
    padding-top: 1rem;
    padding-bottom: 0.625rem;
    border-bottom: 0.0625rem solid #ddd;
}

.news__item:last-child {
    padding-bottom: 0.75rem;
}

@media (min-width: 768px) {
    .news__item {
        flex-direction: row;
        gap: 1.5rem;
        padding-top: 1.0625rem;
        padding-bottom: 0.9375rem;
    }

    .news__item:last-child {
        padding-bottom: 1rem;
    }
}

.news__header {
    display: flex;
    gap: 1.0625rem;
}

@media (min-width: 768px) {
    .news__header {
        gap: 1.1875rem;
    }
}

.news__date {
    font-size: 0.9375rem;
    color: #222;
}

@media (min-width: 768px) {
    .news__date {
        font-size: 0.875rem;
    }
}

.news__category {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8125rem;
    color: #fff;
    background-color: #473221;
    width: 8.375rem;
    height: 1.75rem;
}

.news__text {
    font-size: 0.9375rem;
    color: #09947b;
    line-height: 1.7333;
    letter-spacing: 0.0063rem;
}

.news__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18.75rem;
    height: 4.125rem;
    margin: auto;
    background-color: #09947b;
    font-size: 1.125rem;
    font-weight: bold;
    border-radius: 3.125rem;
    box-shadow: 0 0.5rem 0 0 rgb(6, 102, 85);
    margin-top: 1.5rem;
}

@media (min-width: 768px) {
    .news__button {
        margin-top: 2rem;
    }
}

.news__button:hover {
    opacity: .6;
}

.news__btn {
    color: #fff;
}

/* フッター
------------------------------------------ */
.footer {
    height: 68px;
    background-color: #168352;
}

@media (min-width: 768px) {
    .footer {
        height: 6rem;
    }
}

.footer__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

@media (min-width: 768px) {
    .footer__nav {
        gap: 1.25rem;
    }
}

.footer__link a {
    color: #fff;
    font-size: .8125rem;
}

@media (min-width: 768px) {
    .footer__link a {
        font-size: .9375rem;
    }
}

.footer__border {
    height: 1.25rem;
    width: .0625rem;
    background-color: #fff;
}

@media (min-width: 768px) {
    .footer__border {
        height: 1.5rem;
        width: 0.0625rem;
        margin-right: 0.0625rem; */
    }

    .footer__faq {
        letter-spacing: -0.075rem;
    }
}

/* ------------------------------------------
価格・スペック
------------------------------------------ */

/* プライスの部品
------------------------------------------ */

.price-section__underline {
    display: block;
    height: 3px;
    background: linear-gradient(to right, #168352 13.96648%, #ddd 13.96648%);
}

@media (min-width: 768px) {
    .price-section__underline {
        height: 5px;
        background: linear-gradient(to right, #168352 12.5%, #ddd 12.5%);
    }
}

/* プライスのヘッド
------------------------------------------ */
.price-head {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .price-head {
        margin-top: 40px;
    }

    .price-head__inner {
        max-width: 1200px;
    }

    .price-head__wrap {
        position: relative;
    }
}

.price-head__img {
    width: 100%;
}

.price-head__title {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 30px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .price-head__title {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -1px;
        bottom: -1px;
        margin: 0;
        width: 327px;
        height: 113px;
        background-color: #fff;
        font-size: 36px;
        border-top-right-radius: 40px;
    }
}

.price-head__breadcrumb {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}

@media (min-width: 768px) {
    .price-head__breadcrumb {
        margin-top: 24px;
    }
}

.price-head__breadcrumb-list a {
    color: #000;
}

/* プライスのギャラリー
------------------------------------------ */
.price-gallery {
    margin-top: 40px;
}

@media (min-width: 768px)  {
    .price-gallery {
        margin-top: 64px;
    }
}

.price-section__txt {
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
}

@media (min-width: 768px) {
    .price-section__txt {
        font-size: 28px;
        margin-bottom: 24px;
    }
}

.price-gallery__image {
    display: block;
    margin-top: 24px;
}

@media (min-width: 768px) {
    .price-gallery__image {
        margin-top: 32px;
    }
}

.price-gallery__img {
    width: 100%;
}

/* プライスの特徴
------------------------------------------ */
.price-feature {
    margin-top: 64px;
}

@media (min-width: 768px) {
    .price-feature {
        margin-top: 72px;
    }

    .price-feature__inner{
        max-width: 800px;
    }
}

.price-feature__content {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 40px;
}

@media (min-width: 768px) {
    .price-feature__content {
        flex-direction: row;
        margin-top: 32px;
        gap: 31px;
    }

    .price-feature__item {
        width: calc((100% - 62px) / 3);
    }
}

.price-feature__img {
    width: 100%;
}

.price-feature__txt {
    margin-top: 16px;
    font-size: 18px;
    font-weight: bold;
}

/* メーカー希望小売価格
------------------------------------------ */
.price-retail {
    margin-top: 72px;
}

@media (min-width: 768px) {
    .price-retail__inner {
        max-width: 800px;
    }
}

.price-retail__price {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-top: 24px;
}


@media (min-width: 768px) {
    .price-retail__price {
        margin-top: 32px;
    }
}

.price-retail__tax-included {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
}

/* スペック
------------------------------------------ */
.price-spec__title {
    font-size: 16px;
    border-left: 2px solid #168352;
    margin-top: 29px;
    padding-left: 16px;
    margin-bottom: 23px;
    line-height: 1.5;
}

@media (min-width: 768px) {
    .price-spec__inner {
        max-width: 800px;
    }

    .price-spec__wrap {
        max-width: 741px;
        margin: auto;
    }

    .price-spec__title {
        font-size: 24px;
        margin-top: 41px;
        border-left-width: 3px;
        margin-bottom: 33px;
        line-height: 1.6667;
    }
}

.price-spec__list {
    border: 1px solid #ddd;
}

@media (min-width: 768px) {
    .price-spec__list {
        display: flex;
        flex-wrap: wrap;
    }
}

.price-spec__line {
    height: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

@media (min-width: 768px) {
    .price-spec__line {
        height: 64px;
    }
}

.price-spec__line + .price-spec__line {
    border-top: 1px solid #ddd;
}

.price-spec__label {
    font-weight: bold;
    background-color: #f5f5f5;
}

@media (min-width: 768px) {
    .price-spec__label {
        width: 26.991%;
    }

    .price-spec__value {
        width: 73.009%;
    }
}

/* カバー
------------------------------------------ */
.price-cover {
    margin-top: 64px;
    position: relative;
}

@media (min-width: 768px) {
    .price-cover {
        margin-top: 72px;
    }
}

.price-cover__img {
    width: 100%;
}

.price-cover__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 358px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 50px;
}

.price-cover__contact-btn {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

/* ------------------------------------------
よくあるご質問
------------------------------------------ */
.faq {
    margin-top: 20px;
    margin-bottom: 170px;
}

@media (min-width: 768px) {
    .faq {
        margin-top: 40px;
        margin-bottom: 72px;
    }

    .faq__inner {
        max-width: 1200px;
    }

    .faq__wrap {
        position: relative;
    }
}

.faq__img {
    width: 100%;
}

.faq__title {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 30px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .faq__title {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -1px;
        bottom: -1px;
        margin: 0;
        width: 327px;
        height: 113px;
        background-color: #fff;
        font-size: 36px;
        border-top-right-radius: 40px;
    }
}

.faq__breadcrumb {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}

@media (min-width: 768px) {
    .faq__breadcrumb {
        margin-top: 24px;
    }
}

.faq__breadcrumb-list a {
    color: #000;
}

/* アコーディオン */
.faq__accordion {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
}

@media (min-width: 768px) {
    .faq__accordion {
        max-width: 800px;
        margin: auto;
        margin-top: 64px;
    }
}

.faq__item {
    padding: 24px 24px 24px 25px;
    border: 1px solid #ccc;
    border-radius: 16px;
}

@media (min-width: 768px) {
    .faq__item {
        padding: 24px 32px;
    }
}

.faq__question {
    display: flex;
}

@media (min-width: 768px) {
    .faq__question {
        justify-content: space-between;
    }

    .faq__question-wrap {
        display: flex;
    }
}

.faq__q-label {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #168352;
    padding-right: 16px;
    line-height: 1;
}

.faq__about-wrap {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 8px;
}

.faq__about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 24px;
    font-size: 11px;
    color: #168352;
    border: 1px solid #168352;
    border-radius: 4px;
}

.faq__question-txt {
    font-size: 16px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .faq__question-txt {
        font-size: 18px;
    }
}

.faq__answer {
    font-size: 16px;
    padding-top: 16px;
    display: none;
}

.faq__question .bi {
    font-size: 33px;
    line-height: 0;
    transform: translateY(-5px);
}

.bi-dash {
    display: none;
}

.bi-plus {
    display: block;
}

.bi-dash.replace {
    display: block;
}

.bi-plus.replace {
    display: none;
}