@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
body {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400; /* Regular */
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

li {
	list-style: none;
}

/* スムーススクロールの設定 */
html {
	scroll-behavior: smooth;
}

/* 部品
------------------------------------------ */
.container {
	width: 91.7949vw;
    max-width: 1176px;
	margin: auto;
}

/* セクションタイトル */
.section-title {
    text-align: center;
}

.section-title--en {
    font-size: 16px;
    color: #168352;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; /* SemiBold */
    margin-bottom: 12px;
}

@media (min-width: 768px) {
    .section-title--en {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.section-title--ja {
    font-size: 20px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .section-title--ja {
        font-size: 28px;
    }
}

/* ヘッダー
------------------------------------------ */
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
	height: 63px;
}

@media (min-width: 768px) {
    .header {
        height: 114px;
    }
}

.header__inner {
	display: flex;
	justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__logo {
    width: 197px;
    line-height: 0;
}

@media (min-width: 768px) {
    .header__logo {
        width: 263px;
    }
}

/* ハンバーガーボタン */
.header__hamburger-btn {
    width: 24px;
}

@media (min-width: 768px) {
	.header__hamburger-btn {
		display: none;
	}
}

/* ヘッダーメニュー */
@media (max-width: 767px) {
	.header__nav {
		position: fixed;
		top: 63px;
        width: 91.7949vw;
        background-color: #168352;
        border-radius: 24px;
        transition: all .6s;
        opacity: 0;
        visibility: hidden;
	}

    /* アクティブ状態 */
    .header__nav--active {
        opacity: 1;
        visibility: visible;
    }

	.header__nav-list {
		display: flex;
		flex-direction: column;
		gap: 40px;
		margin-top: 40px;
		margin-bottom: 40px;
		align-items: center;
	}

	.header__nav-item a {
		font-size: 18px;
        font-weight: bold;
        color: #fff;
	}
}

@media (min-width: 768px) {
    .header__nav-list {
        display: flex;
        gap: 40px;
    }

    .header__nav-item:first-child {
        display: none;
    }

    .header__nav-item a {
        font-size: 16px;
        font-weight: bold;
        color: #000;
    }
}

/* 持続可能な農業を目指す
------------------------------------------ */
.aim {
    margin-top: 22px;
}

@media (min-width: 768px) {
    .aim {
        margin-top: 55px;
    }
}

.aim__inner {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media (min-width: 768px) {
    .aim__inner {
        gap: 64px;
    }
}

.aim__body {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media (min-width: 768px) {
    .aim__body {
        flex-direction: row;
        gap: 9.357vw;
    }
}

.aim__title {
    font-size: 28px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .aim_title {
        font-size: 40px;
        flex: 1;
    }
}

.aim__text {
    font-size: 15px;
}

@media (min-width: 768px) {
    .aim__text {
        flex: 1;
    }
}

.aim__img {
    width: 100%;
}

/* 私たちについて
------------------------------------------ */
.about {
    margin-top: 56px;
}

.about__content {
    position: relative;
}

.about__text-wrapper {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
}

/* .about__text {
    position: relative;
} */

.about__image {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.about__img {
    width: 100%;
}